{% extends 'base/base.html' %}

{% block title %}Confirm | Reset Password{% endblock %}

{% block content %}
{% include 'base/header.html' with active_tab='staffs' %}

{% include 'base/side_bar.html' with active_tab='staffs' %} 


{% load crispy_forms_tags %}


<div class="form-content my-3 p-3">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-5">
              <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                  <div class="card-header justify-content-center">
                      <div id="error_div"></div>
                    <h3 class="font-weight-light my-4 text-center">Forgot Password?</h3>
                  </div>
                  <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="col-md-12 btn btn-outline-dark">
                          Change My password
                        </button>
                            
                    </form>
                  </div>
                  <div class="card-footer text-center">
                    <div class="small">
                        <a href="{% url 'Staff:register' %}">Create A New Account</a><br><br>
                        <a href="{% url 'Staff:login' %}">Back To Login</a><br>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


{% include 'base/footer.html' %}

{% endblock %}
