{% extends 'base/base.html' %}

{% block title %}Register Staffs{% endblock %}

{% block content %}
{% include 'base/header.html' with active_tab='staffs' %}

{% include 'base/side_bar.html' with active_tab='staffs' %} 


{% load crispy_forms_tags %}

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'Staff:staff_list' %}">Staffs</a></li>
      <li class="breadcrumb-item active" aria-current="page">register</li>
    </ol>
  </nav>
</div>

<div class="container-sm d-flex justify-content-center my-3 py-3" id="main">

  <form class="shadow p-5 mb-5 w-75 bg-body rounded"  method="POST" enctype="multipart/form-data" class="row g-3">
    {% csrf_token %}
    
      {{ form | crispy }}
    <button name="submit" class="btn btn-orange" type="submit" id='submit'>Register</button>

  </form>

</div>


{% include 'base/footer.html' %}

{% endblock %}
