{% autoescape off %}
  ለእርስዎ {{ user.email }} UoG የተማሪ መለያ ስርዓት መለያ የይለፍ ቃል ዳግም ማስጀመር ሂደትን ለመጀመር፣ ከታች ያለውን ሊንክ ይጫኑ፡-
  To initiate the password reset process for your {{ user.email }} UoG Student Identification system Account,
  click the link below:

  {{ protocol }}://{{ domain }}{% url 'Staff:password_reset_confirm' uidb64=uid token=token %}

  ከላይ ያለውን ሊንክ ጠቅ ማድረግ ካልሰራ፣እባክዎ ዩአርኤሉን ይቅዱ እና በአዲስ አሳሽ መስኮት ይለጥፉ።
  If clicking the link above doesn't work, please copy and paste the URL in a new browser
  window instead.

  Sincerely,
  The Developer
{% endautoescape %}